.vscode/
*.log
.settings
.classpath
.project
*.iws
*.iml
.settings
.idea/
bin/
build/
target/
build.log
.springBeans
.factorypath
.apt_generated/
.DS_Store
dependency-reduced-pom.xml
LOG_PATH_IS_UNDEFINED/
logs/
