<?xml version="1.0" encoding="UTF-8"?>
<!-- Bedrock file. DO NOT DELETE OR MODIFY. -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <logger name="au.com.foxsports" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>